<h4> List of emails: </h4>

<h5> Filter emails: </h5>

Text: <input type="text" class="form-control" [(ngModel)]="term">
Only with body: <input type="checkbox" [(ngModel)]="withBody">
<br>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Subject</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let email of emailsList | filter:term | withBodyFilter:withBody">
            <td class="table-cell">{{email.id}}</td>
            <td class="table-cell">{{email.from}}</td>
            <td class="table-cell">{{email.to}}</td>
            <td class="table-cell">{{email.subject}}</td>
            <td>
            <div class="text-right">
                <button class="btn btn-primary">
                    <a class="btn btn-primary btn-sm mr-1" [routerLink]="['/emailviewer', email.id]">Show Email</a>
                </button>&nbsp;
                <button (click)="remove(email.id)" class="btn btn-primary btn-sm mr-1">Remove</button>
            </div>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary">
    <a class="text-light text-decoration-none" routerLink="/emailform">Create new email</a>
</button>